.articles {
  padding: 90px 0 140px;
}

.articles__container {
}
.articles__wrapper {
  display: flex;
  gap: 50px;
}
.articles__main-content {
}
.articles__textbox {
}
.articles__textbox-heading {
  max-width: 544px;
}

.articles__textbox-heading .primary-heading {
  padding-bottom: 30px;
}

.articles__mainbox {
  max-width: 580px;
  height: 565px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 26px;
  background: url("../../../public/images/articles/image-1.png") no-repeat
    bottom;
  margin-top: 50px;
  position: relative;
}
.articles__mainbox-description {
  font-weight: 500;
  line-height: 180%;
  color: #ffffff;
  opacity: 0.7;
}
.articles__mainbox-heading {
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.01em;
  color: #ffffff;
  padding: 10px 0 6px;
}
.text-cut {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 530px;
}

.articles__mainbox a {
  display: inline-block;
  border-bottom: 1px solid transparent;
  font-weight: 500;
  line-height: 180%;
  color: #ffffff;
  margin-top: 20px;
}
.articles__mainbox a:hover {
  border-bottom: 1px solid #ffffff;
}

.articles__button {
  width: 70px;
  height: 70px;
  box-shadow: 0px 4px 80px rgba(175, 173, 181, 0.2);
  position: absolute;
  padding: 18px;
  transition: 0.3s;
}
.articles__button:hover {
  padding: 14px;
}

.articles__button-left {
  background: #ffffff;
  color: #518581;
  right: 70px;
  bottom: -50px;
}
.articles__button-right {
  background: #518581;
  color: #ffffff;
  right: 0;
  bottom: -50px;
}

/* --------CARD-------- */
.articles__cards {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: -50px;
  margin-top: 50px;
}
.articles__card {
  display: flex;
  align-items: center;
  gap: 26px;
  transition: all 0.3s;
}

.articles__card:hover {
  opacity: 0.8;
}
.articles__card-img img {
  max-width: 260px;
}
.articles__card-textbox {
  max-width: 320px;
}
.articles__card-textbox-description,
.articles__card-textbox-name {
  font-weight: 500;
  line-height: 180%;
  color: #afadb5;
}
.articles__card-textbox-heading {
  font-weight: 700;
  font-size: 24px;
  padding-top: 21px;
  padding-bottom: 14px;
}
.articles__card-textbox-description {
  max-width: 260px;
  padding-bottom: 16px;
}
.articles__card-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.articles__card-author {
  display: flex;
  align-items: center;
}
.articles__card-author img {
  width: 28px;
  height: 28px;
}
.articles__card-author-name {
  font-weight: 700;
  font-size: 14px;
  padding-left: 6px;
}
.articles__card-date {
  font-weight: 500;
  font-size: 14px;
  line-height: 180%;
  color: #afadb5;
}

@media screen and (max-width: 1265px) {
  .articles__wrapper {
    flex-direction: column;
    gap: 50px;
    padding-left: 100px;
  }
  .articles__cards {
    gap: 30px;
    margin-bottom: 0;
    margin-top: 50px;
    max-width: 700px;
  }
  .articles__card {
    max-width: 700px;
  }
  .articles__card-textbox-description {
    max-width: unset;
  }
}
@media screen and (max-width: 1000px) {
  .articles {
    padding: 70px 0 120px;
  }
}

@media screen and (max-width: 769px) {
  .articles {
    padding: 50px 0 100px;
  }
  .articles__wrapper {
    gap: 40px;
    padding-left: unset;
  }

  .articles__mainbox {
    height: 500px;
    padding: 22px;
  }

  .articles__mainbox-heading {
    font-size: 20px;
  }

  .articles__mainbox-description {
    font-size: 16px;
  }
  .articles__mainbox a {
    font-size: 15px;
  }
}
@media screen and (max-width: 650px) {
  .articles__mainbox {
    height: 400px;
    padding: 20px;
  }

  .articles__mainbox-heading {
    font-size: 18px;
  }

  .articles__mainbox-description {
    font-size: 14px;
  }
  .articles__mainbox a {
    font-size: 12px;
  }
  .articles__card {
    max-width: unset;
  }
  .articles__card-img img {
    max-width: 200px;
  }
  .articles__card-textbox {
    max-width: 270px;
  }
  .articles__card-textbox-heading {
    font-size: 20px;
    padding-top: 16px;
    padding-bottom: 10px;
  }
  .articles__card-textbox-description,
  .articles__card-textbox-name {
    font-size: 16px;
  }
  .articles__card-author img {
    width: 22px;
    height: 22px;
  }
  .articles__card-author-name {
    font-size: 12px;
    padding-left: 4px;
  }
  .articles__card-date {
    font-size: 12px;
  }
}

@media screen and (max-width: 550px) {
  .articles {
    padding: 50px 0 80px;
  }
  .articles__mainbox {
    height: 350px;
    padding: 18px;
    margin-top: 30px;
  }

  .articles__button {
    width: 60px;
    height: 60px;
    padding: 16px;
  }
  .articles__button:hover {
    padding: 12px;
  }
  .articles__button-left {
    right: 60px;
    bottom: -40px;
  }
  .articles__button-right {
    right: 0;
    bottom: -40px;
  }
  /* . */
  .articles__cards {
    gap: 16px;
  }
  .articles__card {
    gap: 14px;
  }

  .articles__card-img img {
    max-width: 150px;
  }
  .articles__card-textbox {
    max-width: 250px;
  }
  .articles__card-textbox-heading {
    font-size: 16px;
    padding-top: 12px;
    padding-bottom: 8px;
  }
  .articles__card-textbox-description,
  .articles__card-textbox-name {
    font-size: 12px;
  }
  .articles__card-textbox-description {
    padding-bottom: 10px;
  }
  .articles__card-author img {
    width: 20px;
    height: 20px;
  }
  .articles__card-author-name {
    font-size: 12px;
    padding-left: 4px;
  }
  .articles__card-date {
    font-size: 10px;
  }
}

@media screen and (max-width: 450px) {
  .articles__card-img img {
    max-width: 120px;
  }

  .articles__card-textbox-heading {
    padding-top: 4px;
    padding-bottom: 14px;
  }
  .articles__card-textbox-description,
  .articles__card-date {
    display: none;
  }

  .articles__card-author img {
    width: 18px;
    height: 18px;
  }
}

@media screen and (max-width: 426px) {
  .articles__mainbox {
    height: 300px;
    background: url("../../../public/images/articles/image-1.png") no-repeat
      center;
  }

  .articles__button {
    width: 50px;
    height: 50px;
    padding: 14px;
  }
  .articles__button:hover {
    padding: 12px;
  }
  .articles__button-left {
    right: 50px;
    bottom: -30px;
  }
  .articles__button-right {
    bottom: -30px;
  }
}

@media screen and (max-width: 375px) {
  .articles__card {
    gap: 10px;
  }

  .articles__card-img img {
    max-width: 110px;
  }

  .articles__card-textbox-heading {
    padding-top: 2px;
    padding-bottom: 12px;
  }
  .articles__card-textbox-description,
  .articles__card-date {
    display: none;
  }

  .articles__card-author img {
    width: 18px;
    height: 18px;
  }
}
