.product__container {
  padding: 90px 0;
}
.product__textbox {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}
.product__textbox-heading {
  text-align: center;
}

.product__textbox .primary-description {
  max-width: 656px;
  text-align: center;
}

.product__slider {
  padding-top: 50px;
  position: relative;
}

.product__cards {
  display: flex;
  justify-content: center;
  gap: 30px;
  transition: all 0.5s;
}
.product__card {
  max-width: 394px;
}

.product__card-img {
  overflow: hidden;
}
.product__card-img img {
  transition: all 0.4s;
}

.product__card a:hover img {
  transform: scale(1.1);
}

.product__card-name {
  font-weight: 700;
  color: #afadb5;
  padding-top: 26px;
}
.product__card-heading {
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.01em;
  padding-top: 14px;
  padding-bottom: 6px;
}
.product__card-price {
  font-weight: 700;
  font-size: 24px;
  padding-top: 18px;
}

.product__slider-btn {
  width: 52px;
  height: 52px;
  position: absolute;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(21, 20, 17, 0.6);
  border-radius: 50%;
}
.product__slider-btn:hover {
  background: rgba(21, 20, 17, 0.8);
}

.product__slider-btn svg {
  height: 24px;
  width: 24px;
}

.btn--left {
  top: 50%;
  left: 20px;
}
.btn--right {
  top: 50%;
  right: 20px;
}

@media screen and (max-width: 1025px) {
  .product__container {
    padding: 60px 0;
  }

  .product__card {
    max-width: 300px;
  }

  .product__card-img img {
    max-width: 300px;
    height: auto;
  }

  .product__card-name {
    font-size: 16px;
    padding-top: 26px;
  }
  .product__card-heading {
    font-size: 22px;
  }
  .product__card-price {
    font-size: 20px;
  }

  .product__slider-btn {
    width: 48px;
    height: 48px;
  }

  .btn--left {
    top: 40%;
  }
  .btn--right {
    top: 40%;
  }
}

@media screen and (max-width: 769px) {
  .product__container {
    padding: 40px 0;
  }

  .product__card {
    max-width: 250px;
  }

  .product__card-img img {
    max-width: 250px;
    height: auto;
  }

  .product__card-name {
    font-size: 14px;
    padding-top: 22px;
  }
  .product__card-heading {
    font-size: 20px;
  }
  .product__card-price {
    font-size: 18px;
  }

  .product__slider-btn {
    width: 46px;
    height: 46px;
  }
}

@media screen and (max-width: 580px) {
  .product__card {
    max-width: 220px;
  }

  .product__card-img img {
    max-width: 220px;
    height: auto;
  }

  .product__card-name {
    font-size: 12px;
    padding-top: 18px;
  }
  .product__card-heading {
    font-size: 16px;
  }
  .product__card-price {
    font-size: 16px;
  }
}

/* TO DO: fix slider */
/* TO DO: fix slider */
/* TO DO: fix slider */
@media screen and (max-width: 500px) {
  .btn--left {
    left: 10px;
  }
  .btn--right {
    right: 10px;
  }
}
