.products-list__container {
  padding: 50px 0 100px;
}

/* search */
.products-list__search {
  max-width: 100%;
  padding: 15px 15px 15px 26px;
  background-color: #fff;
}
.products-list__search form {
  display: flex;
  justify-content: space-between;
}

.products-list__search input {
  font-weight: 500;
  font-size: 18px;
  color: #151411;
  height: 46px;
  width: 100%;
  padding-left: 40px;
  background: url(../../assets/icons/search-normal.png) no-repeat center left;
}
.products-list__search input::placeholder {
  font-weight: 500;
  font-size: 18px;
  line-height: 180%;
  color: #afadb5;
}

.products-list__search button {
  white-space: nowrap;
  font-weight: 700;
  color: #fff;
  background: #518581;
  padding: 15px 28px;
  transition: all 0.3s;
}
.products-list__search button:hover {
  background: #3a5f5c;
}

/* grid */
.products-list__heading {
  padding: 50px 0 30px;
  display: flex;
  gap: 10px;
  align-items: center;
}

.products-list__heading-count {
  font-weight: 700;
  font-size: 16px;
  color: #518581;
  padding: 4px 16px;
  width: 60px;
  height: 30px;
  background-color: #efefef;
  border-radius: 20px;
  text-align: center;
}

/* cards */
.products-list__cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  transition: all 0.5s;
  padding-top: 20px;
}
.products-list__card {
  min-width: 280px;
}

.products-list__card-img {
  overflow: hidden;
}
.products-list__card-img img {
  max-width: 100%;
  transition: all 0.4s;
}

.products-list__card a:hover img {
  transform: scale(1.1);
}

.products-list__card-name {
  font-weight: 700;
  color: #afadb5;
  padding-top: 26px;
}
.products-list__card-heading {
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.01em;
  padding-top: 14px;
  padding-bottom: 6px;
}
.products-list__card-price {
  font-weight: 700;
  font-size: 24px;
  padding-top: 18px;
}

.pagination {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 1025px) {
  .products-list__cards {
    gap: 20px;
  }
  .products-list__card {
    min-width: 240px;
  }
  .products-list__card-name {
    font-size: 16px;
    padding-top: 22px;
  }
  .products-list__card-heading {
    font-size: 22px;
    padding-top: 12px;
    padding-bottom: 4px;
  }
  .products-list__card-price {
    font-size: 20px;
    padding-top: 14px;
  }
}

@media screen and (max-width: 800px) {
  .products-list__cards {
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }
  .products-list__card {
    justify-self: center;
    max-width: 320px;
    min-width: 290px;
  }
}

@media screen and (max-width: 769px) {
  .products-list__heading {
    padding: 40px 0 20px;
  }

  .products-list__search {
    padding: 14px 14px 14px 26px;
  }

  .products-list__search input {
    font-size: 16px;
    height: 44px;
  }
  .products-list__search input::placeholder {
    font-size: 16px;
  }

  .products-list__search button {
    padding: 14px 28px;
  }

  .products-list__card-name {
    font-size: 14px;
    padding-top: 20px;
  }
  .products-list__card-heading {
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 4px;
  }
  .products-list__card-price {
    font-size: 18px;
    padding-top: 12px;
  }
}
@media screen and (max-width: 642px) {
  .products-list__cards {
    row-gap: 40px;
  }
  .products-list__card {
    min-width: unset;
    width: 260px;
  }
}

@media screen and (max-width: 580px) {
  .products-list__cards {
    gap: 10px;
    row-gap: 30px;
  }
  .products-list__card {
    width: 240px;
  }
  .products-list__card-name {
    font-size: 12px;
    padding-top: 20px;
  }
  .products-list__card-heading {
    font-size: 18px;
    padding-top: 12px;
    padding-bottom: 4px;
  }
  .products-list__card-price {
    font-size: 16px;
    padding-top: 12px;
  }
}

@media screen and (max-width: 525px) {
  .products-list__heading {
    padding: 30px 0 10px;
  }
  .products-list__card {
    width: 200px;
  }
}

@media screen and (max-width: 500px) {
  .products-list__search {
    padding: 10px;
  }
  .products-list__search input {
    font-size: 14px;
    height: 42px;
  }
  .products-list__search input::placeholder {
    font-size: 14px;
  }

  .products-list__search button {
    padding: 13px 28px;
  }
}

@media screen and (max-width: 450px) {
  .products-list__card {
    width: 180px;
  }
  .products-list__card-name {
    font-size: 12px;
    padding-top: 14px;
  }
  .products-list__card-heading {
    font-size: 16px;
    padding-top: 10px;
  }
  .products-list__card-price {
    font-size: 14px;
    padding-top: 10px;
  }
}
@media screen and (max-width: 450px) {
  .products-list__card {
    width: 170px;
  }
}
@media screen and (max-width: 375px) {
  .products-list__card {
    width: 160px;
  }
}
