.navigation {
  border-bottom: 2px solid #e3e3e3;
}

.navigation__container {
  display: flex;
  justify-content: space-between;
  padding: 39px 5px;
}
.logo img {
  height: 42px;
}

.logo {
  display: flex;
  align-items: center;
}

.navigation__list {
  display: flex;
  align-items: center;
  gap: 60px;
}

.navigation__link {
  line-height: 180%;
  font-weight: 500;
}

.nav-link,
.link-active {
  padding: 48px 0;
}

.link-active {
  color: #518581;
  border-bottom: 3px solid #518581;
}
.nav-link:hover {
  border-bottom: 3px solid #151411;
}

.mobile__menu {
  background: none;
  display: none;
}

.mobile__menu img {
  width: 32px;
  height: 32px;
}

@media screen and (max-width: 1025px) {
  .logo img {
    height: 34px;
  }
  .navigation__container {
    padding: 25px 5px;
  }
  .navigation__list {
    gap: 50px;
  }
  .navigation__link {
    font-size: 16px;
  }
  .nav-link,
  .link-active {
    padding: 32px 0;
  }
  .link-active {
    border-bottom: 2px solid #518581;
  }
  .nav-link:hover {
    border-bottom: 2px solid #151411;
  }
}

@media screen and (max-width: 769px) {
  .navigation__list {
    position: absolute;
    top: 0;
    left: 0;
    padding: 100px 0 100px;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    background-color: #fff;
    width: 100%;
    visibility: hidden;
    opacity: 0;
    transform: translateY(-100%);
    transition: all 0.3s linear;
  }
  .nav-link,
  .link-active {
    padding: 10px 0;
  }

  .open {
    display: flex;
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
    z-index: 15;
  }
  .mobile__menu {
    display: block;
    z-index: 20;
  }
  .hidden {
    display: none;
  }
}
