.footer {
}
.main-container {
}
.footer__container {
  border-top: 1.5px solid #ece4de;
  padding-top: 80px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 90px;
}
.footer__company {
  max-width: 450px;
}
.footer__company-logo {
  padding-bottom: 40px;
}
.footer__company-description {
  font-weight: 500;
  line-height: 180%;
}
.footer__links {
  display: flex;
  gap: 100px;
}
.footer__links-column {
}
.footer__links-heading {
  font-weight: 700;
  font-size: 20px;
  padding-bottom: 20px;
}
.footer__links-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.footer__link {
  font-weight: 500;
  line-height: 180%;
  border-bottom: 1px solid transparent;
}

.footer__link:hover {
  border-bottom: 1px solid #151411;
}

@media screen and (max-width: 1025px) {
  .footer__links {
    gap: 80px;
  }
  .footer__company {
    max-width: 400px;
  }
}

@media screen and (max-width: 900px) {
  .footer__container {
    flex-direction: column;
    padding-top: 60px;
    padding-bottom: 70px;
    padding-left: 100px;
  }
  .footer__links {
    padding-top: 50px;
  }
}

@media screen and (max-width: 769px) {
  .footer__container {
    padding-left: unset;
  }
  .footer__company-logo img {
    height: 40px;
  }
  .footer__company-description {
    font-size: 16px;
  }
  .footer__links-heading {
    font-size: 18px;
  }
  .footer__link {
    font-size: 16px;
  }
}
@media screen and (max-width: 500px) {
  .footer__company-description {
    font-size: 14px;
  }
  .footer__links {
    gap: 10px;
    justify-content: space-between;
  }
  .footer__links-heading {
    font-size: 16px;
  }
  .footer__link {
    font-size: 14px;
  }
}
