.testimonials__container {
  padding: 90px 0;
}
.testimonials__textbox {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}
.testimonials__textbox-heading {
  text-align: center;
}

.testimonials__textbox .primary-description {
  max-width: 656px;
  text-align: center;
}

.testimonials__slider {
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

.testimonials__cards {
  width: 595px;
  height: 255px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

.testimonials__card {
  position: absolute;
  top: 0;
  width: 595px;
  height: 255px;
  display: flex;
  flex-direction: column;
  gap: 26px;
  padding: 24px 49px;
  background-color: #fff;
  transition: transform 1s;
}
.quote {
  width: 40px;
}

.testimonials__card-row {
  display: flex;
  justify-content: space-between;
}
.testimonials__card-author {
  display: flex;
  align-items: center;
  gap: 14px;
}
.testimonials__card-author-name {
  font-weight: 700;
  font-size: 20px;
}
.testimonials__card-rating {
  display: flex;
  align-items: center;
  gap: 10px;
}
.testimonials__card-rating-text {
  font-weight: 700;
  font-size: 18px;
}

@media screen and (max-width: 690px) {
  .testimonials__container {
    padding: 60px 0;
  }
  .testimonials__cards {
    width: 500px;
    height: 230px;
  }

  .testimonials__card {
    width: 500px;
    height: 230px;
    gap: 22px;
    padding: 20px 35px;
  }

  .testimonials__card-author img {
    width: 40px;
    height: 40px;
  }
  .testimonials__card-author-name {
    font-size: 16px;
  }
  .testimonials__card-rating img {
    width: 20px;
    height: 20px;
  }
  .testimonials__card-rating-text {
    font-size: 16px;
  }
}

@media screen and (max-width: 555px) {
  .testimonials__container {
    padding: 30px 0;
  }
  .testimonials__textbox {
    gap: 20px;
  }
  .testimonials__slider {
    padding-top: 30px;
  }
  .testimonials__cards {
    width: 400px;
    height: 220px;
  }

  .testimonials__card {
    width: 400px;
    height: 220px;
    gap: 16px;
    padding: 16px 30px;
  }
  .quote {
    width: 32px;
  }

  .testimonials__card-author img {
    width: 28px;
    height: 28px;
  }
  .testimonials__card-author-name {
    font-size: 14px;
  }
  .testimonials__card-rating img {
    width: 18px;
    height: 18px;
  }
  .testimonials__card-rating-text {
    font-size: 14px;
  }
}

@media screen and (max-width: 450px) {
  .testimonials__cards {
    width: 330px;
    height: 200px;
  }

  .testimonials__card {
    width: 330px;
    height: 200px;
    gap: 16px;
    padding: 16px 30px;
  }
}
